body{
    font-family: 'Castoro','Microsoft JhengHei', serif;
    line-height: 1.5;
}

.container{
    width: 1296px;
    margin: 0 auto;
}

.title{
    font-size: 128px;
    letter-spacing: 0.12em;
}
.vito{
    display: block;
    margin: 0 auto;
}
.text-right{
    width: 636px;
    margin-left: auto;
}

.aboutME{
    background: #EFEFEF;
}
.about-text{
    width: 636px;
    margin-left: auto;
    font-size: 32px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.intro{
    width: 636px;
    margin-top: 80px;
    margin-bottom: 160px;
}
.intro-title{
    font-size: 40px;
    color: #AE0000;
    border-bottom: 3px solid #AE0000;
    margin-bottom: 16px;
}
.intro-content{
    margin-bottom: 40px;
}
.intro-content li{
    font-size: 24px;
    margin-bottom: 8px;
}
.intro-content li:last-child{
    margin-bottom: 0;
}
.intro-years{
    font-size: 20px;
    font-style: italic;
    color: #949494;
}
.intro-links{
    text-decoration: none;
    color: #000;
    &:hover{
        color: #4c4c4c;
    }
}

.footer{
    background: #000;
    padding-top: 64px;
    padding-bottom: 64px;
}
.footer-img{
    text-align: center;
    a{
        display: inline-block;
        margin-right: 40px;
    }
    a:last-child{
        margin-right: 0;
    }
}

.mt-160{
    margin-top: 160px;
}